@model Progra_web_3_Tp_final.Models.Articulo;
@{
    ViewData["Title"] = "Editar Articulo";
}



<div class="text-center">
    <h3>Editar Articulo</h3>
    <form class="articulos-form">
        <input type="hidden" id="id" name="id" value="@Model.IdArticulo" />
        <div>
            <input type="text" class="form-control mb-2" id="codigo" name="codigo" placeholder="Código" required value="@Model.Codigo">
            <input type="text" class="form-control mt-2" id="descripcion" name="descripcion" placeholder="Descripción" required value="@Model.Descripcion">
        </div>
    </form>
    <button type="button" class="btn btn-success" id="editar">Modificar</button>
    <button type="button" id="eliminar_articulo" class="btn btn-danger">Eliminar</button>
    <button type="button" class="btn btn-danger" id="cancelar">Cancelar</button>

</div>
