@model List<Entidades.Models.Cliente>
@{
    ViewData["Title"] = "Home Page";
    List<Entidades.Models.Articulo> articulos = ViewBag.TodosLosArticulos;
}
<link rel="stylesheet" href="~/css/nuevoPedido.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<form method="post" action="../../Pedidos/AgregarPedido">
    <div class="text-center">
        <div class="nuevoPedidos-filters">
            <a href="../../Pedidos/Index">Volver</a>
            <div class="selectCliente">
                <select aria-label="Default select example" name="idCliente">
                    @foreach (Cliente cliente in Model)
                    {
                        <option value=@cliente.IdCliente>@cliente.Nombre</option>
                    }
                </select>
            </div>
            <div class="selectDescripcion">
                <select aria-label="Default select example" id="articuloSelect">
                    @foreach (Articulo art in articulos)
                    {
                        <option value=@art.IdArticulo>@art.Descripcion - @art.Codigo</option>
                    }
                </select>
                <input type="number" value="1" id="cant" />
                <button class="btn btn-success" id="agregar">Agregar</button>
            </div>
        </div>

    </div>

    <table id="tabla_nuevo_pedido" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Código</th>
                <th>Cantidad</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody class="articulosPedidos" name="articulosPedidos" id="articulosPedidos">
        </tbody>
    </table>
    <div class="cajaComentarios">
        <label for="comentarios">Comentarios</label>
        <textarea name="textarea" rows="10" cols="150" placeholder="Escribe aquí"></textarea>
    </div>
    <button type="submit" class="btn btn-success" id="guardar">Guardar</button>

</form>

<div class="botonesFinal">
    <form action="../../Pedidos/Index" method="post">
        <button type="submit" class="btn btn-success">Volver</button>
    </form>
</div>

<script src="~/js/AgregarPedido.js"></script>
@section Scripts
{
    <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
