@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />

<div class="text-center">
    <h3>Nuevo Usuario</h3>
    <form class="usuarios-form">
        <input type="text" class="form-control col-lg-3 mb-1 ml-1" id="Email" name="Email" placeholder="Ingrese Email">
        <input type="password" class="form-control col-lg-3 mb-1 ml-1" id="Password" name="Password" placeholder="Ingrese Contraseña">
        <div class="">
            <label class="form-control col-lg-3 mb-1 ml-1" for="EsAdmin">Es administrador</label>
            <input type="checkbox" class="form-control col-lg-3 mb-1 ml-0" id="EsAdmin" name="EsAdmin">
        </div>
        <input type="text" class="form-control col-lg-3 mb-1 ml-1" id="Nombre" name="Nombre" placeholder="Ingrese Nombre">
        <input type="text" class="form-control col-lg-3 mb-1 ml-1" id="Apellido" name="Apellido" placeholder="Ingrese Apellido">
        <input type="text" class="form-control col-lg-3 mb-1 ml-1" id="Telefono" name="Telefono" placeholder="Ingrese Telefono">
        <input type="date" class="form-control col-lg-3 mb-1 ml-1" id="FechaNacimiento" name="FechaNacimiento" placeholder="Ingrese Fecha de nacimiento">
    </form>
    <button type="button" id="guardar" class="btn btn-success">Guardar</button>
    <button type="button" id="guardar_y_limpiar" class="btn btn-success">Guardar y crear otro</button>
    <button type="button" id="cancelar" class="btn btn-danger">Cancelar</button>
</div>
