.articulos-filters {
    display: flex;
    justify-content: space-between;
}

.articulos-form {
    display: flex;
    justify-content: flex-start;
    margin: 3% 0;
}


.fecha-borrado {
    display: none;
}

