.pedidos-filters {
    display: flex;
    justify-content: space-between;
}


.filtros{
    margin-top:100px;
    width:1110px;
    position:absolute;
}

.filtros select{
    width:230px;
    float:left;
    margin-right:10px;
}

.filtros .form-group {
        margin-left: 700px;
    }

